# Files
**/Dockerfile
**/Dockerfile*
**/docker-compose
**/docker-compose*
**/.dockerignore
**/.gitignore
**/README.md
**/LICENSE
**/Makefile
**/.env
**/.editorconfig
**/compose.yml
**/compose.yml*
**/skaffold.yaml
**/kustomization.yaml

# Directories
**/node_modules/**/*
**/__generated__/**/*
**/ops/**/*
**/.devbox/**/*
**/coverage*/**/*
**/.vscode/**/*
**/.git/**/*
**/.idea/**/*
**/dist/**/*
**/docs/**/*
**/.next/**/*
**/.task/**/*
