@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
}
.slick-dots li.slick-active {
  width: 12px !important;
  height: 12px !important;
  margin: 0 4px !important;
}
.slick-dots button {
  display: block;
  width: 8px !important;
  height: 8px !important;
  padding: 0 !important;
  border: none;
  border-radius: 100%;
  background-color: #bdbdbd !important;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #7c7c7c !important;
  padding: 0 !important;
  width: 12px !important;
  height: 12px !important;
}
.slick-next {
  right: 28px !important;
}

.slick-next::before {
  content: "" !important;
}

.slick-prev {
  left: 128px !important;
  z-index: 10;
}

.slick-prev,
.slick-next,
.slick-prev img,
.slick-next img {
  width: 50px !important;
}

.slick-prev::before {
  content: "" !important;
}

@media screen and (max-width: 1350px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

/* .slick-dots {
  bottom: -40px !important;
}

.slick-dots li {
  width: 20px !important;
}

.slick-dots li button {
  width: 20px !important;
  height: 8.7px !important;
  border-radius: 99px !important;
  background-color: #dcdcdc !important;
}

.slick-dots li.slick-active {
  width: 78px !important;
}

.slick-dots li.slick-active button {
  background-color: #7c7c7c !important;
  width: 78px !important;
}

.slick-dots li button:before {
  display: none !important;
} */
